<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <script src="jquery-3.3.1.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8" defer></script>
  <title></title>
</head>
<body>
  <header>
    <h1>SF Election Deadlines</h1>
    <h2>Key Election Dates and Deadlines for San Francisco Voters</h2>
  </header>
  <section id="primaryContent">
    <main>
      <h2>Deadlines</h2>
      <hr>
      <div class="deadlineInfoBlock">
        <a href="#"><img src="images/calendar.png"></a>
        <h4>Registration</h4>
        <h4>May 21</h4>
        <a href="#">see more</a>
      </div>
      <ul class="hidden">
        <li>Info 1</li>
        <li>Info 2</li>
        <li>Info 3</li>
      </ul>
      <button>see more</button>
      <hr>
      <div class="deadlineInfoBlock">
        <a href="#"><img src="images/calendar.png"></a>
        <h4>Vote By Mail</h4>
        <h4>June 5</h4>
        <a href="#">see more</a>
      </div>
      <ul class="hidden">
        <li>Info 1</li>
        <li>Info 2</li>
        <li>Info 3</li>
      </ul>
      <button>see more</button>
      <hr>
      <div class="deadlineInfoBlock">
        <a href="#"><img src="images/calendar.png"></a>
        <h4>Election Day</h4>
        <h4>June 5</h4>
        <a href="#">see more</a>
      </div>
      <ul class="hidden">
        <li>Info 1</li>
        <li>Info 2</li>
        <li>Info 3</li>
      </ul>
      <button>see more</button>
      <hr>
    </main>
    <aside>
      <h3>Get Email Reminders</h3>
      <p>Sign up to receive reminders about upcoming deadlines.</p>
      <form class="" action="index.html" method="post">
        <span><input type="checkbox" name="registration" value="true"> Registration</span>
        <span><input type="checkbox" name="mailvote" value="true"> Vote By Mail</span>
        <span><input type="checkbox" name="vote" value="true"> Vote</span>
        <span><input type="text" name="fname" value="" placeholder="First Name"></span>
        <span><input type="text" name="lname" value="" placeholder="Last Name"></span>
        <span><input type="email" name="emailaddress" value="" placeholder="youremail@email.com"></span>
        <button type="submit" name="">Submit</button>
      </form>
    </aside>
  </section>
  <nav>
    <a href="#">Register To Vote</a>
    <a href="#">Places To Vote</a>
    <a href="#">General Ballot Info</a>
  </nav>
  <footer>
  </footer>
</body>
</html>
