<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <script src="jquery-3.3.1.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8" defer></script>
  <title></title>
</head>
<body>
  <header>
    <h1>San Francisco Election Deadlines</h1>
    <h2>Key Election Information for San Francisco Voters</h2>
  </header>
  <section id="primaryContent">
    <main>
      <h2>Deadlines</h2>
      <hr>
      <div class="deadlineInfoBlock">
        <a href="#"><img src="images/calendar.png"></a>
        <h4 class="deadlineName">City Hall Voting Center Opens</h4>
        <h4 class="deadlineDate" id="deadlineDate1">May 7</h4>
      </div>
      <ul class="hidden extraContent" id="extraContent1">
        <li>Voting is available at the Department of Elections office on the ground floor of City Hall, Monday through Friday, 8 a.m. to 5 p.m. Voting is also available on the weekends of May 26–27 and June 2–3.</li>
      </ul>
      <button class="seeMore" id="seeMore1">see <span id="more1">more</span><span class="hidden" id="less1">less</span></button>
      <hr>
      <div class="deadlineInfoBlock">
        <a href="#"><img src="images/calendar.png"></a>
        <h4 class="deadlineName">Deadline to Register or Re-Register</h4>
        <h4 class="deadlineDate" id="deadlineDate2">May 21</h4>
      </div>
      <ul class="hidden extraContent" id="extraContent2">
        <li>Last day to register to vote. The Voter Registration Form must be mailed (postmarked by this date), submitted online, or delivered to the Department of Elections by this date and is effective upon receipt. Register <a href="https://registertovote.ca.gov/">here</a> to vote.</li>
      </ul>
      <button class="seeMore" id="seeMore2">see <span id="more2">more</span><span class="hidden" id="less2">less</span></button>
      <hr>
      <div class="deadlineInfoBlock">
        <a href="#"><img src="images/calendar.png"></a>
        <h4 class="deadlineName">Last Day to Request Vote-By-Mail Ballot</h4>
        <h4 class="deadlineDate" id="deadlineDate3">May 29</h4>
      </div>
      <ul class="hidden extraContent" id="extraContent3">
        <li>Written or telephone requests must be received by the Department of Elections by 5 p.m. Online requests must be submitted by 11:59 p.m.</li>
        <li>Register <a href="https://sfgov.org/elections/sites/default/files/Documents/Voting/2018/J18_VBMApp_ENCH.PDF">here</a> for vote-by-mail application</li>
        <li>Phone (415) 554-4375</li>
        <li>Fax (415) 554-4372</li>
        <li>Request online <a href="http://sfelections.org/tools/vbmapp/index.php">here.</a></li>
      </ul>
      <button class="seeMore" id="seeMore3">see <span id="more3">more</span><span class="hidden" id="less3">less</span></button>
      <hr>
      <div class="deadlineInfoBlock">
        <a href="https://calendar.google.com/calendar/r/eventedit/copy/Mzg3dWVvNTRkOHV1aTB0MTU2bTFydWJrbDIgY3JhbWVzQG0/YWFyb24uaG9yb3dpdHozQGdtYWlsLmNvbQ?sf=true&output=xml" target="_blank"><img src="images/calendar.png"></a>
        <h4 class="deadlineName">Election Day</h4>
        <h4 class="deadlineDate" id="deadlineDate4">June 5</h4>
      </div>
      <ul class="hidden extraContent" id="extraContent4">
        <li>Polling places, the City Hall Voting Center, and Vote-by-Mail ballot drop-off stations are open from 7 a.m. to 8 p.m.</li>
      </ul>
      <button class="seeMore" id="seeMore4">see <span id="more4">more</span><span class="hidden" id="less4">less</span></button>
      <hr>
    </main>
    <aside>
      <h3>Get Email Reminders</h3>
      <p>Sign up to receive reminders about upcoming deadlines.</p>
      <form class="" action="index.html" method="post" id="remindMeForm">
        <span><input type="checkbox" name="registration" value="true" class="checkboxes"> Registration</span>
        <span><input type="checkbox" name="mailvote" value="true" class="checkboxes"> Vote By Mail</span>
        <span><input type="checkbox" name="vote" value="true" class="checkboxes"> Vote</span>
        <span><input type="text" name="fname" value="" placeholder="First Name" class="formTextBox"></span>
        <span><input type="text" name="lname" value="" placeholder="Last Name" class="formTextBox"></span>
        <span><input type="email" name="emailaddress" value="" placeholder="youremail@email.com" class="formTextBox"></span>
        <button type="submit" name="">Submit</button>
      </form>
    </aside>
  </section>
  <nav>
    <a href="https://registertovote.ca.gov/" target="_blank">Register To Vote</a>
    <a href="http://www.sos.ca.gov/elections/polling-place/?polling-location" target="_blank">Places To Vote</a>
    <a href="http://votersedge.org/ca" target="_blank">General Ballot Info</a>
  </nav>
  <footer>
  </footer>
</body>
</html>
