body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Arial", sans-serif;
}
/* Header styles */

header {
  font-family: "Arial Black", sans-serif;
  padding-left: 35px;
}

h1 {
  color: #022E61;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.2em;
}

header h2 {
  color: #BB0909;
  margin-top: -25px;
  font-size: 1.3em;
}

/* Body Styles */


#primaryContent {
  display: flex;
  justify-content: space-around;
}

hr {
  color: #9B9B9B;
  margin-left: 68px;
}

main {
  flex-basis: 60%;
  text-align: center;
}

main h2 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  margin-left: 70px;
  margin-top: 0px;
}

h4 {
  font-size: 1.2em;
  margin-top: .8em;
  font-weight: 200;
}

.deadlineDate {
  font-weight: 200;
}

#deadlineDate1 {
  margin-left: 315px;
}

#deadlineDate2 {
  margin-left: 258px;
}

#deadlineDate3 {
  margin-left: 220px;
}

#deadlineDate4 {
  margin-left: 455px;
}

.deadlineName {
  margin-left: 45px;
}

li {
  font-size: .8em;
  margin-left: 25px;
  text-align: left;
}

li a {
  text-decoration: none;
  color: #BB0909
}

aside {
  flex-basis: 25%;
  background-color: #F5F5F5;
  padding-left: 2em;
}

aside h3 {
  font-family: "Arial", sans-serif;
  font-size: 1.5em;
  text-align: left;
  font-weight: 700;
}

form span {
  font-size: 1.25em;
}

aside p {
  text-align: left;
}

.formTextBox, aside form button {
  border: none;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  height: 35px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: .8em;
}

aside form button {
  color: white;
  background-color: #BB0909;
  padding: 7px 20px 7px 20px;
  font-size: .9em;
}

aside form button:hover {
  cursor: pointer;
}

.formTextBox {
    padding-left: 3px;
}

form span {
  display: block;
}

.seeMore {
  border: none;
}

.seeMore:hover {
  cursor: pointer;
}

div * {
  display: inline-block;
}

.deadlineInfoBlock {
  display: flex;
}

.deadlineInfoBlock a {
  margin-top: 20px;
}

#firstNamer {
  margin-top: 15px;
}

nav {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 95px;
}

nav a {
  padding: 10px 20px 10px 20px;
  border: 2px solid #022E61;
  border-radius: 5px;
  font-size: 1.3em;
  text-decoration: none;
  border-top: 5px solid #022E61;
  margin-left: 6px;
  margin-right: 6px;
  color:#BB0909
}

nav a:hover {
  border: 2px solid #022E61;
  border-top: 5px solid #022E61;
  background-color: #022E61;
  color: white;
}

.hidden {
  display: none;
}

.extraContent {
  list-style-type: none;
}

.checkboxes {
  -webkit-appearance: none;
  border: 1px solid #9B9B9B;
  border-radius: 2px;
  background-color: white;
  height: 20px;
  width: 20px;
  margin-bottom: -2.5px;
}

.checkboxes:hover {
  cursor: pointer;
}

.checkboxes:checked {
  -webkit-appearance: none;
  border: 1px solid #9B9B9B;
  border-radius: 2px;
  background-color: #9B9B9B;
  height: 20px;
  width: 20px;
}

footer {
  height: 60px;
  color: white;
  background-color: #022E61;
}

footer p {
  padding-top: 20px;
  margin-left: 35px;
}
