body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Arial", sans-serif;
}

header {
  font-family: "Arial Black", sans-serif;
  padding-left: 50px;
}

h1 {
  color: #022E61;
}

header h2 {
  color: #BB0909;
}

#primaryContent {
  display: flex;
  justify-content: space-around;
}

main {
  flex-basis: 60%;
  text-align: center;
}

main h2 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 200;
}

aside {
  flex-basis: 30%;
  background-color: rgba(211,211,211,.5)
}

form span {
  display: block;
}

div * {
  display: inline-block;
  border: 1px solid green;
}

.deadlineInfoBlock {
  display: flex;
}

nav {
  text-align: center;
}

nav a {
  padding: 10px 20px 10px 20px;

}
